.footer {
  position: fixed;
  inset: auto 0 0 5em;
  display: flex;
  gap: 10px;
  padding: 1rem 1.5rem;
  background: var(--alios-white);
}



@media (width < 648px) {
  .footer {
    flex-wrap: wrap;
    inset: auto 0 0 0 ;
  }
}
