.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1rem 1.5rem;
    background: var(--alios-white);
  }

  @media (min-width: 500px) {
    .footer {
      max-height: 8em ;
    }
  }
  