.stepperBar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.stepperBarItem {
  display: flex;
  flex: 1 1;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 6em;
  gap: .5em;
}
.stepperBarItem p {
  color: var(--alios-grey);
  text-align: center;
  height: 3em;
}

.stepperBall {
  display: block;
  width: 1.5em;
  height: 1.5em;
  background-color: var(--alios-grey);
  border-radius: 2em;
  z-index: 10;
}
.stepperLine {
  position: absolute;
  left: 50%;
  top: .5em;
  width: 100%;
  height: .4em;
  background-color: var(--alios-grey);
  z-index: 1;
}

.stepperBarItem.active .stepperBall {
  background-color: var(--alios-primary-brighter);
  border: 2px solid var(--alios-primary);
}
.stepperBarItem.active p {
  color: var(--alios-primary);
}
