  <div class="stepperBar">
    <div class="stepperBarItem active">
      <div class="stepperBall"></div>
      <div class="stepperLine"></div>
      <p>Inicio</p>
    </div>
    <div class="stepperBarItem">
      <div class="stepperBall"></div>
      <div class="stepperLine"></div>
      <p>Documentos</p>
    </div>
    <div class="stepperBarItem">
      <div class="stepperBall"></div>
      <div class="stepperLine"></div>
      <p>Dados Cadastrais</p>
    </div>
    <div class="stepperBarItem">
      <div class="stepperBall"></div>
      <p>Admissão</p>
    </div>
</div>
