<div class="cardRow">
    <div class="card">
        <h3>Situação cadastral do CPF</h3>
        <p>Consulta na receita Federal</p>
        <div class="cardInfo">
            <mat-icon>person</mat-icon>
            <div class="cardInfoRow">
                <p>Nome</p>
                <h3>Mariana de Sousa Oliveira</h3>
            </div>
        </div>
        <div class="cardInfo">
            <mat-icon style="color: var(--alios-great);">check_circle_outline</mat-icon>
            <div class="cardInfoRow">
                <p>Situação</p>
                <h3>Regular</h3>
            </div>
        </div>
    </div>
    <div class="card">
        <h3>Conta aplicação</h3>
        <p>Cooperativa viacredi</p>
        <div class="cardInfo">
            <mat-icon>credit_card</mat-icon>
            <div class="cardInfoRow">
                <p>Número da conta</p>
                <h3>557932-4</h3>
            </div>
        </div>
        <div class="cardInfo">
            <a href="#">Duplicar conta</a>
        </div>
    </div>
    <div class="card">
        <h3>Conta corrent</h3>
        <p>Cooperativa viacredi</p>
        <div class="cardInfo">
            <mat-icon>credit_card</mat-icon>
            <div class="cardInfoRow">
                <p>Número da conta</p>
                <h3>784165-4</h3>
            </div>
        </div>
        <div class="cardInfo">
            <a href="#">Duplicar conta</a>
        </div>
    </div>
</div>
